# To understand the aim and scope of this workflow, have a look at these slides:
# https://indrajeetpatil.github.io/preventive-r-package-care/

# name: check-all-examples

on:
  workflow_call:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  check-all-examples:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v6

      - uses: r-lib/actions/setup-r@v2
        with:
          #r-version: "devel"
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          cache-version: 2
          extra-packages: |
            any::BH
            any::devtools
            ivprobit=?ignore-before-r=100.0.0
            local::.

      - name: Run examples
        run: |
          options(
            crayon.enabled = TRUE,
            warn = 2L
          )
          devtools::run_examples(run_dontrun = TRUE, run_donttest = TRUE, document = FALSE)
        shell: Rscript {0}
